trunk/tools/CheckABNF/TestCases.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/odata/ns/testcases" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tc="http://docs.oasis-open.org/odata/ns/testcases">
  <xs:element name="TestCases">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="TestCase">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Input" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="Rule" type="xs:string" use="required" />
            <xs:attribute name="FailAt" type="xs:unsignedInt" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>